{% extends 'base.html.twig' %}

{% block title %}Saisons{% endblock %}

{% block body %}
    <h1>Saisons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saison.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ saison.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('saisons_index') }}">back to list</a>

    <a href="{{ path('saisons_edit', {'id': saison.id}) }}">edit</a>

    {{ include('saisons/_delete_form.html.twig') }}
{% endblock %}
