{% extends 'layout.html.twig' %}

{% block title %}Alllegumes{% endblock %}

{% block main %}

    <h1>{{ alllegume.nom  }}</h1>
{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ alllegume.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Nom</th>#}
{#                <td>{{ alllegume.nom }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}
    <p>les <strong>{{ alllegume.nom  }}</strong> sont disponibles aux mois de:</p>

    <div id="listMois" class="listmois">
        <ul>
            {% for mois in alllegume.mounth %}

                <li>
                    <a href="{{ path('mois_show', {'id': mois.id}) }}">{{mois}}</a>
                </li>
            {% endfor %}
        </ul>
        <div>
            <h4>Presentation : {{ alllegume.nom }}</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facere fuga odio, porro quaerat
                reiciendis reprehenderit suscipit. Ad atque, cupiditate eius explicabo, fuga labore odio praesentium
                provident, quae qui sapiente!
            </p>
            <h4>Subblimer notre {{ alllegume.nom }} avec nos recettes </h4>
            <h5>Recette</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores, consequuntur debitis labore
                natus optio pariatur reprehenderit soluta velit voluptate! Blanditiis cupiditate dolorem et excepturi
                harum maiores, optio sunt ullam?</p>
        </div>

    </div>
{#    <a href="{{ path('alllegumes_index') }}">test</a>#}
    <a href="{{ path('alllegumes_index') }}">Retour a la liste des legumes</a>

{#    <a href="{{ path('alllegumes_index') }}">back to list</a>#}

{#    <a href="{{ path('alllegumes_edit', {'id': alllegume.id}) }}">edit</a>#}

{#    {{ include('alllegumes/_delete_form.html.twig') }}#}
{% endblock %}
