{% extends 'layout.html.twig' %}

{% block title %}Alllegumes{% endblock %}

{% block main %}
    <h1>{{ alllegume.nom  }}</h1>

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ alllegume.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Nom</th>#}
{#                <td>{{ alllegume.nom }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}
    <p>les <strong>{{ alllegume.nom  }}</strong> sont disponibles aux mois de:</p>

    <div id="listMois" class="listmois">
        <ul>
            {% for m in alllegume.mounth %}
                <li>
                    <a href="#">{{ m}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('alllegumes_index') }}">test</a>
    <a href="{{ path('alllegumes_index') }}">Retour a la liste des legumes</a>

{#    <a href="{{ path('alllegumes_index') }}">back to list</a>#}

{#    <a href="{{ path('alllegumes_edit', {'id': alllegume.id}) }}">edit</a>#}

{#    {{ include('alllegumes/_delete_form.html.twig') }}#}
{% endblock %}
